
.titulo{
    color: #c7ff82;
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 2px black;
}


@media (min-width: 375px) and (max-width: 812px){
    .titulo{
        color: #eb130c;
        text-align: center;
        font-size: 80px;
        
    }

}

#card {
    padding: 10px;
    max-width: 300px;
    align-content: center;
}

@media (min-width: 768px) and (max-width: 1024px){
    .titulo{
        color: #0a5a18;
        text-align: center;
        font-size: 100px;
        -webkit-text-stroke: 2px black;
    }

    .row{
        height: 10000;
    }

}