
.bigcontainer {
    background: rgba(204, 204, 204, 0.8);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .container {
    background: rgba(204, 204, 204, 0.8);
    text-align: center;
    padding-top: 10px;
    margin-top: 15px;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
  .lista {
    text-align: left;
  }
  
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .titulos {
    font-size: larger;
    font-weight: bold;
  }
  .textos {
    font-size: medium;
  }

  .fotos {
    align-content: center;
    width: 100%;
  }

  @media (max-width: 768px){
    .titulos {
      font-size: medium;
    }
    .textos {
      font-size: small;
    }
  }